
  <%- include('header') %>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Courses Information</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="d-flex justify-content-center">
      <center>
      <div class="col-12">
        <img
          class="text-center"
          src="4207.jpg"
          alt="Welcome Image"
          style="width: 40%"
        />
      </div>
      </center>
      </div>
      <div class="row justify-content-md-center"></div>

      <div class="col-6">
        <div
          class="card border-info mb-3"
          style="max-width: 30rem; margin: 2rem 8rem"
        >
          <div class="card-header">Add Course details</div>
          <div class="card-body">
            <p class="card-text">Click below button to add new course details.</p>
            <h4 class="card-title">
              <a class="btn btn-info" href="/course-add">Courses</a>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div
          class="card border-info mb-3"
          style="max-width: 30rem; margin: 2rem 8rem"
        >
          <div class="card-header">View Courses details</div>
          <div class="card-body">
            <p class="card-text">Click below button to see courses details.</p>
            <h4 class="card-title">
              <a class="btn btn-info" href="/course">Courses</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>

